<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">


  <style>
   
   
  </style>
</head>
<body>

  <form method="post" action="/login" >
    <h2>Login</h2>
    {% if error %}
      <p class="error-message">{{ error }}</p>
    {% endif %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required autocomplete="username" autofocus>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required autocomplete="current-password">

    <button type="submit">Login</button>
  </form>

</body>
</html>
