<div class="flex items-center justify-between mb-0">
  

  <div class="flex items-center space-x-2">

  <div class="flex items-center space-x-2">

    <!-- <input type="text" placeholder="Search..." class="px-3 py-1 border rounded-lg focus:ring focus:ring-blue-300" />
    <i class="fa fa-bell text-gray-600"></i> -->
    
    <div class="w-10 h-10 rounded-full bg-blue-500 flex items-center justify-center text-white font-semibold">
      {{ user.firstname.split(' ')[0][0] }}{{ user.lastname.split(' ')[-1][0] }}
    </div>
  </div>
</div>
