
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Dashboard{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body class="bg-gray-100 font-sans">

  <div class="flex h-screen flex-col">
    
    <div class="flex flex-1 overflow-hidden">
     
     <main class="flex-1 p-6 overflow-y-auto">
  <div class="w-full flex justify-end mb-6">
    {% include "common/navbar.html" %}
  </div>

  {% block content %}
  {% endblock %}
</main>

    </div>
    
    {% include "common/footer.html" %}
  </div>

  {% block scripts %}
  {% endblock %}

</body>
</html>
